
IPG_TestPlan/bin/Model.asdatabase
IPG_TestPlan/bin/Model.deploymentoptions
IPG_TestPlan/bin/Model.deploymenttargets
IPG_TestPlan/obj/Debug/IPG_TestPlan.smprojAssemblyReference.cache
IPG_TestPlan/obj/Development/IPG_TestPlan.smproj.CoreCompileInputs.cache
IPG_TestPlan/obj/Development/IPG_TestPlan.smproj.FileListAbsolute.txt
IPG_TestPlan/obj/Development/Model.asdatabase
IPG_TestPlan/obj/Development/Model.deploymentoptions
IPG_TestPlan/obj/Development/Model.deploymenttargets
IPG_TestPlan/Model.bim_kfpalma.settings
